<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="APP_NAME" value="diet-record-backend"/>
    <property name="CONSOLE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.dietrecord.backend" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.mybatis" level="INFO"/>
    <logger name="com.baomidou" level="INFO"/>

    <springProfile name="local">
        <logger name="com.dietrecord.backend" level="DEBUG"/>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
